{% extends "base_.html" %}

<!-- Начало book_detail.html -->
{% block title %} {{ book.title }} {% endblock %}

{% block header %}
    <h1 class="display-4 fw-normal">{{ book.title }}</h1>
    <p class="fs-5 text-muted">{{ text }}. {{ book.description }}</p>
{% endblock %}

{% block content %}
<div class="col">
<div class="card mb-4 rounded-3 shadow-sm">
  <div class="card-header py-3">
    <h4 class="my-0 fw-normal">{{ book.title }}</h4>
  </div>
  <div class="card-body">
    <h1 class="card-title pricing-card-title">{{ book.year }}<small class="text-muted fw-light"></small></h1>
    <ul class="list-unstyled mt-3 mb-4">
      <li>{{ book.description }}</li>
      <li>{{ book.description }}</li>
        {% if book.year > 1990 %}
            <li>Новая книга</li>
        {% else %}
            <li>Старая книга</li>
        {% endif %}
    </ul>
    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Подробнее</button>
  </div>
</div>
</div>
{% endblock %}
<!-- Конец book_detail.html -->