{% extends "base.html" %}

<!-- Начало book_list.html -->
{% block header %}
    <h1 class="display-4 fw-normal">{{ book.title }}</h1>
    <p class="fs-5 text-muted">{{ text }}. {{ book.description }}</p>
{% endblock %}

{% block content %}
<h1 class="my-3">{{ items_name }}</h1>
<div class="col">
<div class="card mb-4 rounded-3 shadow-sm">
  <div class="card-header py-3">
    <h4 class="my-0 fw-normal">{{ book.title }}</h4>
  </div>
  <div class="card-body">
    <ul class="list-unstyled mt-3 mb-4">
        <h6 class="card-subtitle mb-2 text-muted">Автор: {{ book.author }}</h6>
        {% if book.isbn != "" %}
          <h6 class="card-subtitle mb-2 text-muted">ISBN: {{ book.isbn }}</h6>
        {% else %}
          <h6 class="card-subtitle mb-2 text-muted">ISBN: n/a</h6 >
        {% endif %}

        <h6 class="card-subtitle mb-2 text-muted">Год издания: {{ book.year }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Издательство: {{ book.publishing }}</h6>
        {% if book.description != "" %}
            <p class="card-text">Описание: {{ book.description }}</p>
        {% else %}
            <p class="card-text">Описание: n/a</p>
        {% endif %}
    </ul>
    <a href="{{ request.url_for('book_list') }}" class="card-link">Назад к списку</a>
  </div>
</div>
</div>
{% endblock %}
<!-- Конец book_detail.html -->