{% extends "base_.html" %}

<!-- Начало book_list.html -->
{% block title %} {{ title }} {% endblock %}

{% block header %}
    <h1 class="display-4 fw-normal">{{ title }}</h1>
    <p class="fs-5 text-muted">{{ text }}. {{ text }}</p>
{% endblock %}

{% block content %}
    <div class="row">
        {% for book in books %}
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{book.title}}</h5>

                    {% if book.isbn != "" %}
                      <h6 class="card-subtitle mb-2 text-muted">ISBN: {{book.isbn}}</h6>
                    {% endif %}

                    <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{book.year}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{book.publishing}}</h6>
                    <p class="card-text">{{book.description}}</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
            </div>
         {% endfor %}
    </div>
{% endblock %}
<!-- Конец book_list.html -->