{% extends "base_.html" %}

<!-- Начало book_list.html -->
{% block menu1 %} "nav-link active" {% endblock %}

{% block content %}
    <h1 class="my-3">{{ items_name }}</h1>
    <div class="row">
        {% for book in books %}
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>

                    {% if book.isbn != "" %}
                      <h6 class="card-subtitle mb-2 text-muted">ISBN: {{ book.isbn }}</h6>
                    {% endif %}

                    <h6 class="card-subtitle mb-2 text-muted">{{ book.author }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ book.year }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ book.publishing }}</h6>
                    <a href="{{ request.url_for('book_details', book_id=book.id) }}" class="card-link">Подробнее</a>

                  </div>
                </div>
            </div>
         {% endfor %}
    </div>
{% endblock %}
<!-- Конец book_list.html -->